*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
header img{
    width: 70px;
    cursor: pointer;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header ul li{
    margin:10px;
    font-size: 18px;
}

header ul li:hover{
    color: brown;
    cursor: pointer;
}
.main-container{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}
#inputField, .outputQR, button{
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    margin: 8px 0;
    padding: 8px;
}
.outputQR{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outputQR img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 2px solid black;
    padding: 10px;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 8px 0;
    padding: 8px;
    color: #000000;
}
button:hover{
    background-color: #bcbcbc;
    cursor: pointer;
}
a:hover{
    background-color: #bcbcbc;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .main-container{
        width:85%;
    }

    header ul{
        display: none;
    }

    header h3{
        display:block;
    }
}
